# .gitignore  (dosya adını ".gitignore" yap)

# derleme çıktısı
dist/
.astro/

# bağımlılıklar
node_modules/

# ortam / gizli
.env
.env.production

# işletim sistemi & editör
.DS_Store
Thumbs.db
.vscode/
.idea/

# günlükler
npm-debug.log*
yarn-error.log*